html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #efa073;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #becbce 0%, #efdbc2 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #d37e8d;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 #757d7f;
}

.deck .card.open {
    animation-name: flip_open;
    animation-duration: 0.7s;
    animation-fill-mode: backwards;
    background: #77c3ef;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #efa073;
    font-size: 33px;
    animation-name: jump_correct;
    animation-duration: 1s;
}

.incorrect {
    animation-name: jump_incorrect;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes jump_incorrect {
  0% {
    background-color: #ef5858;
    transform: translateX(20px)rotate(15deg);
  }
  25% {
    transform: translateX(-20px)rotate(-15deg);
  }
  50% {
    transform: translateX(20px)rotate(15deg);
  }
  75% {
    transform: translateX(-20px)rotate(-15deg);
  }
  100% {
    background-color: #ef5858;
    background-color: none;
    transform: translateX(0)rotate(0);
  }
}

@keyframes jump_correct {
  0% {
    transform: translate(0,0)scale(0);
  }
  50% {
    transform: translate(0,25px)scale(1.1);
  }
  100% {
    transform: translate(0,0)scale(1);
  }
}

@keyframes flip_open {
  0% {
    transform: rotateX(0)rotateY()rotateZ();
  }
  50% {
    transform: rotateX(0deg)rotateY(180deg)rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg)rotateY(0deg)rotateZ(0deg);
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.invisible {
  display: none;
}

.button_play_again {
  width: 15%;
  border-radius: 4px 4px 4px 4px;
  padding: 20px;
  font-size: 12px;
  background-color: #d37e8d;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid pink;
  cursor: pointer;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 200;
  color: #efa073;
}

.fa-check {
  color: #77c3ef;
}

.start_check_anim {
  animation-name: check_anim;
  animation-duration: 1.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}


@keyframes check_anim {
  0% {
    transform: rotate(0)scale(0);
  }
  100% {
    transform: rotate(360deg)scale(2);
  }
}
